input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
input[type="radio"][disabled] {
	cursor: default !important;
}
.form-cm .box-inp.error .txt-remask {
	color: #000;
}
.form-cm .box-inp.disable .box-select {
	opacity: 1;
}
.form-cm .box-inp .txt-remask {
	width: 100%;
	font-size: 12px;
	line-height: 14px;
	margin-top: 2px;
	padding-left: 15px;
}
.txt-sub {
	position: relative;
	top: 48px;
	left: 0;
}
#alert-box {
	display: none;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	width: 100%;
	background-color: #ffdadc;
	color: #da2227;
	padding: 10px 48px;
	border-radius: 10px;
	margin-bottom: 15px;
}
#alert-box-otp-page {
	display: none;
	padding: 5px 13px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(100% - 25px);
	z-index: 2;
}
#alert-box-otp-page::before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e24258;
}
#alert-box-otp-page .content {
	position: absolute;
	right: 50%;
	-webkit-transform: translate(50%, 0%);
	-ms-transform: translate(50%, 0%);
	transform: translate(50%, 0%);
	font-size: 11px;
	line-height: 16px;
	padding: 7px 10px;
	text-align: center;
	background-color: #e24258;
	color: #fff;
	border-radius: 5px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 300px;
	margin: 0 auto;
}
.mr-b-40 {
	margin-bottom: 40px !important;
}
.mr-b-30 {
	margin-bottom: 30px !important;
}
.pb-20 {
	padding-bottom: 20px;
}
form .ui-helper-hidden-accessible {
	display: none;
}
form .ui-widget.ui-widget-content {
	-webkit-box-shadow: 0 0 6px 0 rgba(204, 204, 204, 0.4);
	box-shadow: 0 0 6px 0 rgba(204, 204, 204, 0.4);
	border: 1px solid #eee;
	padding: 10px 0;
	color: #777;
	border-radius: 4px;
	background-color: #fff;
	max-height: 250px;
	overflow-y: scroll;
	width: 100% !important;
	max-width: 250px !important;
	z-index: 5;
}
form .ui-widget {
	font-family: "Sarabun" !important;
	font-weight: 500 !important;
}
form .ui-widget-content a {
	color: #777;
	padding: 8px 20px;
	display: block;
}
form .ui-state-hover,
form .ui-widget-content .ui-state-hover,
form .ui-widget-header .ui-state-hover,
form .ui-state-focus,
form .ui-widget-content .ui-state-focus,
form .ui-widget-header .ui-state-focus,
form .ui-button:hover,
form .ui-button:focus {
	color: #fff;
	border: none;
	border-radius: unset;
}
#other_field {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 20px;
}
#suggesstion-box {
	position: absolute;
	width: 100%;
	bottom: 0;
}
#school-code-list {
	float: left;
	list-style: none;
	padding: 10px 0;
	width: 100%;
	position: absolute;
	z-index: 5;
	background: #fff;
	top: 100%;
	border-radius: 4px;
	border: 1px solid #eee;
	-webkit-box-shadow: 0 0 6px 0 rgba(204, 204, 204, 0.4);
	box-shadow: 0 0 6px 0 rgba(204, 204, 204, 0.4);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #777;
	max-height: 250px;
	overflow-y: scroll;
}
#school-code-list li {
	color: #222;
	padding: 8px 20px;
	display: block;
	cursor: pointer;
}
#school-code-list li:hover {
	background: #a285eb;
	color: #fff;
}
.disable {
	pointer-events: none;
}
.disable .box-select {
	opacity: 0.5;
}
.fulldim.md-member {
	background-color: rgba(255, 255, 255, 0.98);
}
.fulldim.md-member .close-btn {
	display: none;
}
.fulldim.md-member .wrapper-modal-text {
	background: transparent;
}
.fulldim.md-member .al-tt {
	font-size: 32px;
	line-height: 48px;
}
.fulldim.md-member .al-dt {
	margin-top: 10px;
	font-size: 18px;
}
.fulldim.md-member .bx-btn {
	margin-top: 30px;
}
.fulldim.md-member .bx-btn .btn {
	width: auto;
	margin: 0 10px;
}
.fulldim.md-member-warring .al-tt {
	font-size: 32px;
	line-height: 48px;
}
.fulldim.md-member-warring .al-dt {
	margin-top: 15px;
	font-size: 18px;
}
.fulldim.md-member-warring .bx-btn {
	margin-top: 30px;
}
.wrap-ct {
	position: relative;
}
.wrap-ct:before {
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: -1;
}
.wrap-ct .wrap-inn {
	max-width: 790px;
	margin: 0 auto;
	padding: 80px 20px;
}
.wrap-ct .wrap-title .box-title {
	text-align: center;
}
.wrap-ct .wrap-title .box-title h1 {
	font-size: 42px;
	line-height: 66px;
}
.wrap-ct .wrap-title .box-title .t2 {
	color: #1c96eb;
	margin-left: 10px;
}
.wrap-ct .wrap-title .box-title h3 {
	margin-top: 10px;
	font-size: 18px;
	line-height: 30px;
}
.wrap-ct .box-sub-title {
	margin-top: 50px;
	margin-bottom: 25px;
	width: 100%;
}
.wrap-ct .box-sub-title h2 {
	font-size: 26px;
	line-height: 42px;
}
.wrap-ct .notice {
	font-size: 14px;
	line-height: 24px;
	color: #da2227;
}
.wrap-ct .wrap-form {
	max-width: 520px;
	margin: 0 auto;
}
.g-recaptcha {
	display: none !important;
}
.form-cm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}
.form-cm .sty-inp {
	-webkit-appearance: none;
	height: 50px;
	border: none;
	padding: 0;
	width: 100%;
	font-size: 15px;
	line-height: 15px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	border-radius: 10px;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
}
.form-cm .sty-inp.inp-pwd {
	font-size: 25px;
	letter-spacing: 3px;
}
.form-cm .sty-inp.otp {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	font-size: 17px !important;
	line-height: 24px !important;
	height: 54px !important;
	text-align: center;
	color: #1c96eb;
}
.form-cm .box-inp {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	position: relative;
	height: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0 10px 20px;
}
.form-cm .box-inp.has-chld {
	margin: 0 10px 0;
}
.form-cm .box-inp .inp-plc {
	font-size: 15px;
	line-height: 50px;
	color: #999999;
	z-index: 1;
	position: absolute;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 40px);
}
.form-cm .box-inp .inp-plc.req {
	color: #da2227;
}
.form-cm .box-inp .inp-plc.ident {
	line-height: 68px;
}
.form-cm .box-inp .ic {
	font-size: 18px;
	position: absolute;
	right: 20px;
	top: calc(50% - 9px);
}
.form-cm .box-inp .ic-arr {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	font-size: 18px;
}
.form-cm .box-inp .ic-arr:before {
	color: #999999;
}
.form-cm .box-inp.has-dt:not(.checkbox, .radio) .inp-plc,
.form-cm .box-inp.valid:not(.checkbox, .radio) .inp-plc {
	font-size: 11px;
	line-height: 17px;
	top: 0;
	padding-top: 3px;
}
.form-cm .box-inp.has-dt:not(.checkbox, .radio):not(.sty-search) .sty-inp,
.form-cm .box-inp.valid:not(.checkbox, .radio):not(.sty-search) .sty-inp {
	line-height: 34px;
	height: 32px;
	bottom: 0;
	padding-bottom: 5px;
	padding-right: 50px;
}
.form-cm
	.box-inp.has-dt:not(.checkbox, .radio):not(.sty-search).box-textarea
	.sty-inp,
.form-cm
	.box-inp.valid:not(.checkbox, .radio):not(.sty-search).box-textarea
	.sty-inp {
	top: 16px;
	line-height: 26px;
	bottom: auto;
	height: calc(100% - 32px);
}
.form-cm
	.box-inp.has-dt:not(.checkbox, .radio):not(.sty-search).box-textarea
	.sty-inp.elm-reason,
.form-cm
	.box-inp.valid:not(.checkbox, .radio):not(.sty-search).box-textarea
	.sty-inp.elm-reason {
	top: 18px;
	font-size: 15px;
	line-height: 22px;
}
.form-cm .box-inp.has-dt:not(.checkbox, .radio) .box-select .sty-inp,
.form-cm .box-inp.valid:not(.checkbox, .radio) .box-select .sty-inp {
	line-height: 28px;
	text-align: left;
}
.form-cm .box-inp.has-dt:not(.checkbox, .radio).sty-search .inp-plc,
.form-cm .box-inp.valid:not(.checkbox, .radio).sty-search .inp-plc {
	display: none;
}
.form-cm .box-inp.error {
	border-color: #e24258;
	color: #e24258;
	background-color: rgba(226, 66, 88, 0.05);
}
.form-cm .box-inp.pad-ic {
	padding-left: 15px;
}
.form-cm .box-inp.pad-ic .sty-inp {
	padding-left: 15px;
	padding-right: 15px;
}
.form-cm .box-inp .btn-send {
	color: #1c96eb;
	cursor: pointer;
	background-size: 0 90%;
}
.form-cm .box-inp .btn-send:hover {
	background-size: 100% 90%;
}
.form-cm .box-inp.focus-inp {
	border-color: #1c96eb;
}
.form-cm .box-inp .ic-inp {
	position: absolute;
	right: 20px;
	font-size: 20px;
	color: #c4c4c4;
	top: calc(50% - 10px);
}
.form-cm .box-inp.dtp .sty-inp {
	cursor: pointer;
}
.form-cm .box-inp.fix-sf:not(.has-dt) .inp-plc {
	font-size: 17px;
	letter-spacing: -0.25px;
}
.form-cm .box-inp.sty-search {
	padding-left: 15px;
}
.form-cm .box-inp.sty-search .ic-l {
	font-size: 18px;
	line-height: 1;
	position: absolute;
	top: calc(50% - 9px);
	width: 18px;
	height: 18px;
}
.form-cm .box-inp.sty-search .sty-inp {
	padding-left: 45px;
	padding-right: 20px;
}
.form-cm .box-inp.sty-search .inp-plc {
	padding-left: 30px;
}
.form-cm .box-inp.radio {
	border: none;
	display: flex;
	align-items: center;
	padding: 0;
}
.form-cm .box-inp.radio input {
	box-shadow: none;
}
.form-cm .box-inp.radio input:focus {
	box-shadow: none;
}
.form-cm .box-inp.radio input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	top: 0;
	min-width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	text-align: center;
	line-height: 22px;
}
.form-cm .box-inp.radio input[type="radio"]:checked {
	background-color: #1c96eb;
	border-color: #1c96eb;
}
.form-cm .box-inp.radio input[type="radio"]:checked:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	z-index: 5;
}
.form-cm .box-inp.radio label {
	position: relative;
	padding-top: 0;
	margin-left: 15px;
	color: #000;
}
.form-cm .box-inp.checkbox {
	border: none;
	display: flex;
	align-items: center;
}
.form-cm .box-inp.checkbox input {
	box-shadow: none;
}
.form-cm .box-inp.checkbox input:focus {
	box-shadow: none;
}
.form-cm .box-inp.checkbox input[type="checkbox"],
.form-cm .box-inp.checkbox input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	top: 0;
	min-width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	text-align: center;
	line-height: 22px;
}
.form-cm .box-inp.checkbox input[type="checkbox"]:checked,
.form-cm .box-inp.checkbox input[type="radio"]:checked {
	background-color: #1c96eb;
	border-color: #1c96eb;
}
.form-cm .box-inp.checkbox input[type="checkbox"]:checked:after,
.form-cm .box-inp.checkbox input[type="radio"]:checked:after {
	content: "\e908";
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
}
.form-cm .box-inp.checkbox label {
	position: relative;
	padding-top: 0;
}
.form-cm .box-inp.disable {
	background-color: #f5f5f7;
}
.form-cm .box-inp.disable .sty-inp {
	color: #999999;
}
.form-cm .box-inp.hide {
	display: none;
}
.form-cm .chld {
	display: flex;
	justify-content: flex-start;
	margin: 0 10px 20px;
}
.form-cm .box-wys {
	position: relative;
	overflow: scroll;
}
.form-cm .box-wys .tox-tinymce {
	width: 825px;
	min-width: 825px;
}
.form-cm .box-wys .mce-content-body p {
	font-family: "Sarabun";
	font-weight: 400;
	text-indent: 3.5cm;
	text-align: justify;
	font-size: 18px;
	line-height: 2;
}
.form-cm .box-wys .inp-plc {
	font-size: 15px;
	line-height: 50px;
	color: #999999;
	z-index: 1;
	position: absolute;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 40px);
	padding-left: 15px;
	padding-right: 15px;
	top: 0;
	left: 0;
}
.form-cm .box-wys .inp-plc.req {
	color: #da2227;
}
.form-cm .box-wys.has-dt .inp-plc {
	font-size: 11px;
	line-height: 15px;
	top: 0;
	padding-top: 4px;
}
.form-cm .box-select {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
.form-cm .box-select i.icon-arr {
	display: block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	right: 5px;
	left: auto;
	font-size: 14px;
	top: 50%;
	margin-top: -10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.form-cm .box-select .nav-input {
	cursor: pointer;
	width: 100%;
	padding-right: 40px;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
.form-cm .box-select .nav-select {
	overflow: hidden;
	top: calc(100% + 2px);
	padding: 10px;
	width: 100%;
	position: absolute;
	background: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #eee;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	z-index: 999;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}
.form-cm .box-select .nav-select:not(.nav-search) {
	max-height: 250px;
	overflow-y: scroll;
}
.form-cm .box-select .nav-select.nav-search .lvl1 {
	max-height: 120px;
	overflow-y: scroll;
}
.form-cm .box-select .nav-select.nav-search .inp-box-serch {
	padding-top: 10px;
	background-color: #fff;
}
.form-cm .box-select .nav-select.nav-search .input-lib {
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: transparent;
	font-size: 15px;
	line-height: 15px;
	padding-left: 10px;
	height: 40px;
	margin-bottom: 10px;
	width: 100%;
	background-color: #fff;
}
.form-cm .box-select .nav-select .lb_group {
	color: #222;
	padding: 8px 20px;
	display: block;
}
.form-cm .box-select ul li:not(.li-main) {
	width: 100%;
	cursor: pointer;
	border-radius: 10px;
}
.form-cm .box-select ul li:not(.li-main) span {
	padding: 8px 10px;
	display: block;
}
.form-cm .box-select ul li:not(.li-main):hover,
.form-cm .box-select ul li:not(.li-main).active {
	background-color: rgba(236, 247, 255, 0.8);
	color: #1c96eb;
}
.form-cm .box-select ul.lvl2 li span {
	padding: 8px 20px 8px 40px;
}
.form-cm .box-select ul .li-main {
	cursor: default;
	width: 100%;
}
.form-cm .box-select ul .li-main span {
	padding: 8px 20px;
	display: block;
}
.form-cm .box-select.active i {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.form-cm .box-select.active .nav-select {
	visibility: visible !important;
	opacity: 1;
}
.form-cm .hint {
	font-size: 14px;
	line-height: 16px;
	margin-top: 12px;
	color: #7f7f7f;
}
.form-cm .box-ckb {
	margin-top: 40px;
	margin-bottom: 0;
	text-align: left;
	width: 100%;
}
.form-cm .box-ckb .error ~ .checkmark {
	border: 1px solid #e24258 !important;
	background-color: rgba(226, 66, 88, 0.05);
}
.form-cm .box-ckb .item-link {
	text-decoration: none;
}
.form-cm .box-ckb .item-link:hover,
.form-cm .box-ckb .item-link:focus {
	text-decoration: none;
}
.form-cm .box-ckb .ctn-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 26px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #222;
	min-height: 25px;
	min-width: 80px;
	font-size: 14px;
	line-height: 24px;
	font-weight: unset;
	cursor: pointer;
}
.form-cm .box-ckb .ctn-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.form-cm .box-ckb .ctn-checkbox a {
	color: #000;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
.form-cm .box-ckb .ctn-checkbox a:hover {
	text-decoration: underline;
	color: #000;
}
.form-cm .box-ckb .ctn-checkbox .checkmark {
	position: absolute;
	left: 0;
	height: 15px;
	width: 15px;
	border: 1px solid #7a58bf;
	cursor: pointer;
	border-radius: 1px;
	top: 3px;
}
.form-cm .box-ckb .ctn-checkbox input:checked ~ .checkmark {
	border-color: #7a58bf;
}
.form-cm .box-ckb .ctn-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 1px;
	width: 3px;
	height: 8px;
	border: solid #7a58bf;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.form-cm .box-ckb .ctn-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.form-cm .box-btn {
	margin-top: 60px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.form-cm .box-btn .btn {
	font-size: 16px;
	line-height: 50px;
	max-width: 180px;
	width: 100%;
	min-width: 140px;
	margin: 0 5px;
}
.form-cm .box-btn .btn:first-child {
	margin-left: 0;
}
.form-cm .box-btn .btn:last-child {
	margin-right: 0;
}
.form-cm.sty-form .box-inp {
	margin-bottom: 20px;
	height: 50px;
	width: calc(100% - 20px);
	position: relative;
}
.form-cm.sty-form .box-inp.box-textarea {
	height: 199px;
}
.form-cm.sty-form .box-inp.box-textarea.box-reason {
	height: 99px;
}
.form-cm.sty-form .box-inp.box-textarea textarea {
	height: 100%;
}
.form-cm.sty-form .box-inp.box-textarea.has-dt textarea,
.form-cm.sty-form .box-inp.box-textarea.valid textarea {
	height: calc(100% - 18px);
}
.form-cm.sty-form .box-inp.margin-top {
	margin-top: 20px;
}
@media (max-width: 767px) {
	.form-cm.sty-form .box-inp.margin-top {
		margin-top: unset;
	}
}
.form-cm.sty-form .box-inp.pad-ic {
	padding-left: 15px;
}
.form-cm.sty-form .box-inp.pad-ic .sty-inp {
	padding-left: 15px;
}
.form-cm.sty-form .box-inp.col-6-all {
	width: calc(50% - 20px);
	float: left;
}
.form-cm.sty-form .box-inp.col-12-all {
	width: calc(100% - 20px);
	float: left;
}
.form-cm.sty-form .box-sec {
	position: relative;
}
.form-cm.sty-form .box-sec:not(:last-child) {
	padding-bottom: 64px;
}
.form-cm.sty-form .box-sec:not(:last-child):after {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 40px);
	background-color: #b8b8b8;
	left: 20px;
	bottom: 39px;
}
.form-cm.sty-form .box-consent {
	margin-top: 15px;
}
.form-cm.sty-form .box-btn {
	margin-top: 32px;
}
.form-cm.sty-form .box-select .inp-plc {
	padding-left: 15px;
	padding-right: 15px;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: calc(100% - 20px);
}
.form-cm.sty-form .otp-panel {
	width: calc(50% - 20px);
	float: left;
	height: 50px;
	position: relative;
	margin-bottom: 15px;
}
.form-cm.sty-form .otp-panel .btn-one-time {
	margin-left: 10px;
}
.form-cm.sty-form .otp-panel .box-inp.col-6 {
	width: 100%;
}
.form-cm.sty-form .otp-panel .box-inp.col-6 .btn-confirm-otp {
	height: 35px;
	width: 80px;
	position: absolute;
	right: 5px;
	top: 7px;
	z-index: 2;
	cursor: pointer;
	font-size: 14px;
}
.form-cm.sty-form .otp-panel .otp-bar {
	position: absolute;
	top: calc(100% + 5px);
	width: calc(100% - 10px);
	left: 15px;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
}
.form-cm.sty-form .otp-panel .otp-bar .ref-txt {
	font-size: 11px;
	line-height: 15px;
	color: #999;
}
.form-cm.sty-form .otp-panel .otp-bar .otp-action {
	font-size: 11px;
	line-height: 15px;
	color: #999;
}
.form-cm.sty-form .otp-panel .otp-bar .otp-action .btn-send-otp {
	color: #000;
	cursor: pointer;
}
.form-cm.sty-form .otp-panel .hide {
	display: none;
}
.form-cm.sty-form .otp-panel .otp-complete {
	display: none;
	font-size: 16px;
	line-height: 50px;
	color: #0aa699;
	margin-left: 10px;
}
.form-cm.sty-form .otp-panel .otp-complete em {
	margin-right: 10px;
}
.form-cm.sty-form .otp-panel.complete .otp-complete {
	display: block;
}
.form-cm .sty-err {
	left: 0;
	right: 0;
	z-index: 9;
	padding: 7px 10px;
	text-align: center;
	background-color: #e24258;
	color: #fff;
	border-radius: 5px;
	width: 115px;
	margin: 0 auto;
	line-height: 25px;
	top: calc(100% + -5px);
	min-height: 30px;
}
.form-cm .sty-err::before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e24258;
}
.form-cm:not(.error) .sty-err {
	display: none;
	font-size: 11px;
	line-height: 16px;
	color: #fff;
	position: absolute;
	top: calc(100% - 5px);
}
.form-cm:not(.error) .box-inp.error .sty-err {
	display: block;
}
.form-cm:not(.error) .group-inp.error {
	border-color: #e24258;
}
.form-cm:not(.error) .group-inp.error .err-group {
	display: block;
}
.form-cm:not(.error) .group-inp.error .box-inp {
	background-color: rgba(226, 66, 88, 0.05);
}
.form-cm:not(.error) .group-inp.focus-inp {
	border-color: #1c96eb;
}
.form-cm:not(.error) .group-inp .sty-sl .box-select .ic-arr {
	right: 10px;
}
.btn-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.btn-section .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 195px;
	height: 50px;
	color: #fff;
	font-size: 16px;
	line-height: 28px;
	border-radius: 28px;
	cursor: pointer;
	margin: 0 5px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-section .btn:first-child {
	margin-left: 0;
}
.btn-section .btn:last-child {
	margin-right: 0;
}
.btn-section .cancel {
	background-color: #7f7f7f;
	color: #fff;
}
.btn-section .cancel:hover {
	background-color: #4c4c4c;
}
.btn-section .submit,
.btn-section .blue {
	background-color: #1c96eb;
	color: #fff;
}
.btn-section .submit:hover,
.btn-section .blue:hover {
	background-color: #266cbf;
}
.sp_form {
	margin-top: 80px;
}
.bx-chk {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}
.ctn-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000;
	min-height: 25px;
	min-width: 80px;
	font-size: 15px;
	line-height: 21px;
	text-align: left;
	font-weight: unset;
	cursor: pointer;
	word-wrap: break-word;
}
.ctn-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.ctn-checkbox a {
	color: #000;
	text-decoration: underline;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
.ctn-checkbox a:hover {
	color: #000;
}
.ctn-checkbox a:hover .multi-under-a {
	background-image: -o-linear-gradient(bottom, #1c96eb 1px, transparent 1px);
	background-image: linear-gradient(to top, #1c96eb 1px, transparent 1px);
}
.ctn-checkbox.error .checkmark {
	border: 1px solid #e24258;
	background-color: rgba(226, 66, 88, 0.05);
}
.ctn-checkbox .checkmark {
	position: absolute;
	left: 0;
	height: 25px;
	width: 25px;
	border: 1px solid #b0b0b0;
	cursor: pointer;
	top: 2px;
	background-color: #fff;
	border-radius: 4px;
}
.ctn-checkbox input:checked ~ .checkmark {
	border-color: #1c96eb !important;
	background-color: #1c96eb !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.ctn-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 9px;
	top: 3px;
	width: 4px;
	height: 12px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ctn-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.sty-sl .box-select.active .ic-arr {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.sty-sl .box-select .ic-arr {
	font-size: 10px;
	color: #999999;
	left: auto;
	right: 20px;
	top: 0;
	margin-top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sty-sl .box-select .ic-arr.hide {
	display: none;
}
.sty-sl .box-select .ic-arr.clear {
	width: 50px;
	height: 100%;
	justify-content: center;
	right: 0;
	z-index: 3;
	cursor: pointer;
}
.sty-sl .nav-input {
	padding-left: 15px;
}
.sty-sl .nav-select ul li.disabled {
	pointer-events: none;
	background-color: #f5f5f7;
	color: #999999;
}
.sty-sl.hidden {
	display: none;
}
.block-dropzone-custom {
	max-width: 430px;
}
.block-dropzone-custom .dropzone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	min-height: 100px;
	border: none;
	padding: 0 0 30px 0;
	margin: 0 -10px;
}
.block-dropzone-custom .dropzone .box-event {
	width: 100%;
	min-height: unset;
	margin: 0;
	padding: 27px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.block-dropzone-custom .dropzone .box-event .handle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 240px;
	text-align: left;
	cursor: pointer;
}
.block-dropzone-custom .dropzone .box-event .handle .icon {
	font-size: 36px;
	line-height: 35px;
	color: #1c96eb;
	margin-right: 18px;
}
.block-dropzone-custom .dropzone .box-event .handle .submit {
	font-size: 15px;
	line-height: 22px;
}
.block-dropzone-custom .dropzone .box-event .handle .bb {
	color: #1c96eb;
}
.block-dropzone-custom .dropzone .dz-message {
	width: 100%;
	background-color: #ebf7ff;
	border-style: dashed;
	border-color: #ccc;
	border-width: 1px;
	border-radius: 20px;
	margin: 0 10px 25px;
}
.block-dropzone-custom .dropzone .dz-preview {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: calc(100% - 20px);
	margin: 5px 10px;
	border-radius: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 17px rgba(0, 0, 0, 0.09);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.09);
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: unset;
	padding: 20px 10px;
}
.block-dropzone-custom .dropzone .dz-preview .dz-image {
	overflow: visible;
	border-radius: 0;
	background: unset;
	width: 28px;
	height: 27px;
	margin-right: 10px;
	margin-left: 10px;
}
.block-dropzone-custom .dropzone .dz-preview .dz-image .logo-icon {
	font-size: 27px;
	color: #b2b2b2;
}
.block-dropzone-custom .dropzone .dz-preview.dz-complete .dz-progress {
	opacity: 1;
}
.block-dropzone-custom .dropzone .dz-preview .dz-progress {
	position: unset;
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	border-radius: 2.5px;
	height: 5px;
	background: #e5e5e5;
}
.block-dropzone-custom .dropzone .dz-preview .dz-progress .dz-upload {
	background: #e5e5e5;
	background: -o-linear-gradient(top, #1c96eb, #1c96eb);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#1c96eb),
		to(#1c96eb)
	);
	background: linear-gradient(to bottom, #1c96eb, #1c96eb);
	border-radius: 2.5px;
}
.block-dropzone-custom .dropzone .dz-preview .dz-details {
	width: calc(100% - 80px);
	position: unset;
	min-width: unset;
	padding: 0 10px;
	font-size: 15px;
	line-height: 25px;
	color: #000;
	margin: 0;
	text-align: left;
	opacity: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.block-dropzone-custom .dropzone .dz-preview .dz-details .dz-filename {
	width: 85%;
	margin-bottom: 5px;
}
.block-dropzone-custom .dropzone .dz-preview .dz-details .dz-filename span {
	padding: 0;
	border-radius: 0;
}
.block-dropzone-custom .dropzone .dz-preview .dz-details .dz-filename:hover,
.block-dropzone-custom
	.dropzone
	.dz-preview
	.dz-details
	.dz-filename:not(:hover) {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.block-dropzone-custom
	.dropzone
	.dz-preview
	.dz-details
	.dz-filename:hover
	span,
.block-dropzone-custom
	.dropzone
	.dz-preview
	.dz-details
	.dz-filename:not(:hover)
	span {
	outline: none;
	border: none;
	border-radius: 0;
}
.block-dropzone-custom .dropzone .dz-preview .dz-details .progress-text {
	width: 15%;
	text-align: right;
	font-size: 11px;
	line-height: 15px;
	color: #999999;
}
.block-dropzone-custom .dropzone .dz-preview .dz-remove {
	width: 22px;
	font-size: 14px;
	text-align: center;
	display: block;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background-color: #e5e5e5;
	margin-right: 10px;
	margin-left: 10px;
}
.block-dropzone-custom .dropzone .dz-preview .dz-remove .icon-close {
	font-size: 10px;
	padding: 5.8px;
	color: #b2b2b2;
}
.block-dropzone-custom .dropzone .dz-preview .dz-remove:hover {
	text-decoration: none;
}
.block-dropzone-custom .dropzone.dz-started .dz-message {
	display: block;
}
#drop-zone .no_data_message {
	max-width: 500px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.wrap-page .wrap-search {
	position: relative;
}
.wrap-page .wrap-sugged {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	width: calc(100% - 20px);
	left: 10px;
	position: absolute;
	padding: 10px;
	top: 50px;
	z-index: 99;
	display: none;
	max-height: 35vh;
	overflow: scroll;
}
.wrap-page .wrap-sugged .list-sugged {
	position: relative;
	border-radius: 17px;
}
.wrap-page .wrap-sugged .list-sugged .link-sugged {
	padding-left: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
	display: block;
}
.wrap-page .wrap-sugged .list-sugged .ic {
	font-size: 16px;
	line-height: 1;
	position: absolute;
	color: #b2b2b2;
	left: 10px;
	top: 10px;
}
.wrap-page .wrap-sugged .list-sugged .label {
	font-size: 15px;
	line-height: 20px;
}
.wrap-page .wrap-sugged .list-sugged:hover {
	background-color: rgba(236, 247, 255, 0.8);
}
.wrap-page .wrap-sugged .list-sugged:hover .link-sugged {
	color: #1c96eb;
}
.wrap-page .wrap-sugged .list-sugged:hover .ic {
	color: #1c96eb;
}
.wrap-page .has-icon .link-dd {
	display: flex;
	padding: 10px;
}
.wrap-page .has-icon .box-img {
	width: 42px;
	height: 42px;
}
.wrap-page .has-icon .box-img img {
	border: 1px solid #e5e5e5;
	border-radius: 50%;
}
.wrap-page .has-icon .box-label {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.wrap-page .has-icon .box-label .main {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
}
.wrap-page .has-icon .box-label .sub {
	font-size: 13px;
	line-height: 15px;
	color: #7f7f7f;
}
.wrap-page .has-icon .box-icon {
	width: 20px;
	position: relative;
}
.wrap-page .has-icon .box-icon .ic-r {
	font-size: 6px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: block;
	padding: 0;
	top: calc(50% - 2px);
	position: absolute;
	right: 0px;
}
.icon-eye-close.active:before {
	content: "\e94e";
}
.box-wys {
	position: relative;
}
.box-wys .wys-plc {
	position: absolute;
	top: 65px;
	left: 15px;
	color: #999999;
	font-size: 16px;
	line-height: 28px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}
.box-wys .wys-plc.active {
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	-o-transform: translateY(-12px);
	transform: translateY(-12px);
	font-size: 12px;
	line-height: 20px;
	width: calc(100% - 40px);
}
.btn-receipt.dis {
	opacity: 0.4;
}
@media (max-width: 767px) {
	.wrap-ct:before {
		background: url("/images/layout/bg_after_mb.png") no-repeat bottom center;
		background-size: cover;
		min-height: 200px;
	}
	.wrap-ct .wrap-inn {
		padding-top: 40px;
	}
	.form-cm.sty-form .otp-panel {
		width: calc(100% - 20px);
		height: auto;
	}
	.form-cm.sty-form .otp-panel.send {
		margin-bottom: 40px;
	}
	.form-cm.sty-form .otp-panel .otp-complete {
		line-height: 1;
	}
	.form-cm.sty-form .box-btn {
		margin-top: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.sp_form {
		margin-top: 40px;
	}
	.block-dropzone-custom {
		width: 100%;
	}
}
@media (max-width: 575px) {
	.wrap-ct .wrap-title .box-title h1 span {
		display: block;
	}
	.wrap-ct .wrap-title .box-title h1 span.t2 {
		margin: 0;
	}
	.sp_form .box-btn {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.sp_form .box-btn .btn {
		width: calc(50% - 10px);
	}
	.form-cm .box-inp {
		margin-bottom: 20px;
	}
}
@media (min-width: 576px) {
	.form-cm .box-inp.inp-half {
		width: calc(50% - 20px);
	}
}
@media (min-width: 768px) {
	.wrap-ct:before {
		background: url("/images/layout/bg_after.png") no-repeat bottom center;
		background-size: cover;
		min-height: 288px;
	}
	.form-cm.sty-form .box-inp.col-6 {
		width: calc(50% - 20px);
		float: left;
	}
	.form-cm.sty-form .box-inp.col-12 {
		width: calc(100% - 20px);
		float: left;
	}
	.form-cm.sty-form .box-inp.col-3 {
		width: calc(25% - 20px);
		float: left;
	}
}
#content {
	padding-top: 0;
}
.page-wrapper {
	overflow: hidden;
}
.wrap-page img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.wrap-page .link-clear {
	display: block;
	color: inherit;
}
.wrap-page .hide-seek {
	width: 35px;
	position: absolute;
	line-height: 50px;
	right: 0;
	cursor: pointer;
	z-index: 2;
	color: #b2b2b2;
}
.wrap-page .hide-seek.active {
	color: #000;
}
.wrap-page .responsive-img {
	width: 100%;
	height: auto;
	display: block;
}
.wrap-page .form-cm {
	margin-right: 0;
	margin-left: 0;
}
.wrap-page .bx-btn {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.wrap-page .choice {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -7.5px;
	margin-top: 50px;
}
.wrap-page .choice .divine {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(45% - 15px);
	flex: 0 0 calc(45% - 15px);
	max-width: calc(45% - 15px);
	height: 1px;
	background: #dfe1e5;
	margin-left: 7.5px;
	margin-right: 7.5px;
}
.wrap-page .choice .divine:nth-child(2) {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
	max-width: 10%;
	height: unset;
	background: transparent;
	text-align: center;
}
.wrap-page .choice .txt {
	font-size: 16px;
	line-height: 21px;
	color: #999999;
}
.wrap-page .box-register {
	width: 100%;
	margin-top: 50px;
	background: #fff;
	-webkit-box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 33px 25px;
}
.wrap-page .box-register .cc-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -5px;
}
.wrap-page .box-register .cc-list .cc-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(50% - 10px);
	flex: 0 0 calc(50% - 10px);
	max-width: calc(50% - 10px);
	margin-right: 5px;
	margin-left: 5px;
}
.wrap-page .box-register .cc-list .cc-item .txt {
	font-size: 22px;
	line-height: 26px;
	color: #000;
}
.wrap-page .box-register .cc-list .cc-item .go-register {
	width: 140px;
	height: 50px;
	color: #fff;
	border-radius: 28px;
	background-color: #1c96eb;
	font-size: 16px;
	line-height: 28px;
	padding: 10px 20px;
	display: block;
	text-align: center;
}
.wrap-page .box-register .cc-list .cc-item .ct {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: right;
	-ms-flex-pack: right;
	justify-content: right;
}
.wrap-page .content-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 -10px;
	height: 100vh;
}
.wrap-page .content-list .content-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.5%;
	flex: 0 0 66.5%;
	max-width: 66.5%;
	background-color: #fff;
}
.wrap-page .content-list .content-item:first-child {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.5%;
	flex: 0 0 33.5%;
	max-width: 33.5%;
}
.wrap-page .content-list .content-item .img-style {
	width: 100%;
	height: 100vh;
	-o-object-position: center;
	object-position: center;
	-o-object-fit: cover;
	object-fit: cover;
	display: block;
}
.wrap-page .content-list .content-item .cc {
	width: 100%;
	max-width: 462px;
	margin: 30px 10px;
}
.wrap-page .content-list .content-item .cc .title {
	font-size: 34px;
	line-height: 40px;
	color: #000;
	text-align: center;
	margin-bottom: 22px;
}
.wrap-page .content-list .content-item .cc .ctn-inp {
	width: 100%;
	margin-bottom: 20px;
}
.wrap-page .content-list .content-item .cc .ctn-inp:last-child {
	margin-bottom: 0px;
}
.wrap-page .content-list .content-item .cc .ctn-inp .mar-b {
	margin-bottom: 10px;
}
.wrap-page .content-list .content-item .cc .ctn-inp .spec-icon {
	padding-right: 35px;
}
.wrap-page .content-list .content-item .cc .forgot-password {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: right;
	-ms-flex-pack: right;
	justify-content: right;
	font-size: 16px;
	line-height: 20px;
	color: #1c96eb;
}
.wrap-page .content-list .content-item .box-cc {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
}
.wrap-page .content-list .content-item .box-cc .wrap-bg {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: absolute;
	/* background-image: url(/images/people/bg_left.jpg); */
    background: rgb(140,140,254);
    background: radial-gradient(circle, rgba(140,140,254,0.16600143475358897) 0%, rgba(4,20,138,1) 100%);
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}
.wrap-page .content-list .content-item .box-cc .top {
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 80px 20px;
}
.wrap-page .content-list .content-item .box-cc .top .tt {
	font-size: 38px;
	line-height: 38px;
	color: #fff;
	max-width: 350px;
	margin: 0 auto;
	margin-top: 17px;
}
.wrap-page #form_municipal .ctn-inp {
	position: relative;
}
.wrap-page #form_municipal .ctn-search {
	z-index: 2;
}
.wrap-page #form_municipal .ctn-area {
	z-index: 1;
}
@media (max-width: 1040px) {
	.wrap-page .content-list .content-item .box-cc .top .tt {
		font-size: 28px;
		line-height: 28px;
	}
}
@media (min-width: 768px) and (max-height: 840px) {
	.wrap-page .content-list {
		min-height: 600px;
	}
	.wrap-page .content-list .form-cm .box-select .nav-select {
		max-height: 220px;
	}
}
@media (max-width: 767px) {
	.form-cm.sty-form.sty-form .box-inp {
		margin: 0 10px 15px;
	}
	.form-cm.sty-form.sty-form.mb-mrg {
		margin-left: -5px;
		margin-right: -5px;
		width: calc(100% + 10px);
	}
	.form-cm.sty-form.sty-form.mb-mrg .box-inp {
		margin: 0 5px 10px;
		width: calc(100% - 10px);
	}
	.form-cm.sty-form.sty-form.mb-mrg .box-inp.col-6-all {
		width: calc(50% - 10px);
	}
	.wrap-page .content-list {
		height: 100%;
		margin-bottom: 50px;
	}
	.wrap-page .content-list .content-item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.wrap-page .content-list .content-item:first-child {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.wrap-page .content-list .content-item .cc {
		padding: 0 20px;
		margin: 0 10px;
	}
	.wrap-page .content-list .content-item .cc .title {
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.wrap-page .content-list .content-item .cc .ctn-inp {
		margin-bottom: 15px;
	}
	.wrap-page .content-list .content-item .cc .ctn-inp .mar-b {
		margin-bottom: 15px;
	}
	.wrap-page .content-list .content-item .box-cc {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 220px;
		height: 100%;
	}
	.wrap-page .content-list .content-item .box-cc .wrap-bg {
		background-image: url(/images/people/bg_left_mb.jpg);
		background-position: bottom center;
		height: 100%;
		min-height: 100%;
	}
	.wrap-page .content-list .content-item .box-cc .top {
		padding: 25px 20px;
	}
	.wrap-page .content-list .content-item .box-cc .top .tt {
		margin-top: 14px;
	}
	.wrap-page .choice {
		margin-top: 30px;
	}
	.wrap-page .box-register {
		margin-top: 30px;
		padding: 20px;
	}
	.wrap-page .box-register .cc-list .cc-item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(100% - 10px);
		flex: 0 0 calc(100% - 10px);
		max-width: calc(100% - 10px);
		text-align: center;
	}
	.wrap-page .box-register .cc-list .cc-item:first-child {
		margin-bottom: 20px;
	}
	.wrap-page .box-register .cc-list .cc-item .txt {
		font-size: 20px;
		line-height: 26px;
	}
	.wrap-page .box-register .cc-list .cc-item .ct {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.wrap-page .sty-form {
		margin-top: 40px;
	}
}
