@font-face {
    font-display: swap;
    font-family: "THSarabunPSK";
    src: url("fonts/THSarabunPSK.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "THSarabunPSKBold";
    src: url("fonts/THSarabunPSKBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.fthpsk_reg {
    font-family: "THSarabunPSK";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fthpsk_bold {
    font-family: "THSarabunPSKBold";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fh_lig {
    font-family: "Sarabun";
    font-weight: 300;
}

.fh_reg {
    font-family: "Sarabun";
    font-weight: 400;
}

.fh_reg_it {
    font-family: "Sarabun";
    font-weight: 400;
    font-style: italic;
}

.fh_med {
    font-family: "Sarabun";
    font-weight: 500;
}

.fh_smb {
    font-family: "Sarabun";
    font-weight: 600;
}

.fh_exb {
    font-family: "Sarabun";
    font-weight: 800;
}

.fp_lig {
    font-family: "Prompt";
    font-weight: 300;
}

.fp_reg {
    font-family: "Prompt";
    font-weight: 400;
}

.fp_reg_it {
    font-family: "Prompt";
    font-weight: 400;
}

.fp_med {
    font-family: "Prompt";
    font-weight: 500;
}

.fp_smb {
    font-family: "Prompt";
    font-weight: 600;
}

@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoone384.eot?jtlsq4");
    src: url("fonts/icomoone384.ttf?jtlsq4") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-infomation:before {
    content: "\e956";
}

.icon-address-card:before {
    content: "\e955";
}

.icon-calendar-lines-pen:before {
    content: "\e954";
}

.icon-group:before {
    content: "\e952";
}

.icon-person:before {
    content: "\e953";
}

.icon-arrow-rotate-left:before {
    content: "\e951";
}

.icon-trash-can:before {
    content: "\e950";
}

.icon-circle-play-solid:before {
    content: "\e94f";
}

.icon-eye:before {
    content: "\e94e";
}

.icon-envelope-open-text:before {
    content: "\e94c";
}

.icon-user-clock:before {
    content: "\e94d";
}

.icon-lock-reg:before {
    content: "\e94a";
}

.icon-unlock-alt:before {
    content: "\e94b";
}

.icon-document-close:before {
    content: "\e948";
}

.icon-return:before {
    content: "\e949";
}

.icon-camera:before {
    content: "\e947";
}

.icon-phone-volume:before {
    content: "\e941";
}

.icon-phone-rotary:before {
    content: "\e942";
}

.icon-globe:before {
    content: "\e943";
}

.icon-fax:before {
    content: "\e944";
}

.icon-envelope:before {
    content: "\e945";
}

.icon-clock:before {
    content: "\e946";
}

.icon-plus:before {
    content: "\e93f";
}

.icon-minus:before {
    content: "\e940";
}

.icon-user-check:before {
    content: "\e92c";
}

.icon-print:before {
    content: "\e922";
}

.icon-arrows:before {
    content: "\e921";
}

.icon-file-times:before {
    content: "\e91f";
}

.icon-university:before {
    content: "\e920";
}

.icon-sign:before {
    content: "\e91c";
}

.icon-warring:before {
    content: "\e91b";
}

.icon-id-card:before {
    content: "\e91a";
}

.icon-reverse:before {
    content: "\e919";
}

.icon-calendar-check2:before {
    content: "\e918";
}

.icon-calendar:before {
    content: "\e917";
}

.icon-exclamation-triangle:before {
    content: "\e916";
}

.icon-receipt:before {
    content: "\e90f";
}

.icon-tired:before {
    content: "\e910";
}

.icon-frown:before {
    content: "\e911";
}

.icon-meh:before {
    content: "\e912";
}

.icon-smile:before {
    content: "\e913";
}

.icon-grin-beam:before {
    content: "\e914";
}

.icon-file-search:before {
    content: "\e915";
}

.icon-check2:before {
    content: "\e90d";
}

.icon-file-check:before {
    content: "\e90e";
}

.icon-user:before {
    content: "\e90b";
}

.icon-check:before {
    content: "\e908";
}

.icon-lock:before {
    content: "\e909";
}

.icon-chevron-left:before {
    content: "\e906";
}

.icon-chevron-right:before {
    content: "\e907";
}

.icon-clipboard-check:before {
    content: "\e93d";
}

.icon-comment-dots:before {
    content: "\e93e";
}

.icon-coins:before {
    content: "\e905";
}

.icon-comment-alt-lines:before {
    content: "\e900";
}

.icon-home:before {
    content: "\e901";
}

.icon-search:before {
    content: "\e902";
}

.icon-calendar-check:before {
    content: "\e903";
}

.icon-download:before {
    content: "\e904";
}

.icon-qop:before {
    content: "\e93c";
}

.icon-file:before {
    content: "\e93b";
}

.icon-upload:before {
    content: "\e93a";
}

.icon-fb-circle:before {
    content: "\e935";
}

.icon-insta-circle:before {
    content: "\e936";
}

.icon-line-s:before {
    content: "\e937";
}

.icon-linkedin:before {
    content: "\e938";
}

.icon-member:before {
    content: "\e939";
}

.icon-guarantee:before {
    content: "\e934";
}

.icon-notification:before {
    content: "\e933";
}

.icon-announce:before {
    content: "\e932";
}

.icon-info-list:before {
    content: "\e931";
}

.icon-arrow-filter:before {
    content: "\e930";
}

.icon-service:before {
    content: "\e92e";
}

.icon-setting:before {
    content: "\e92f";
}

.icon-bin:before {
    content: "\e926";
}

.icon-construct:before {
    content: "\e927";
}

.icon-document:before {
    content: "\e928";
}

.icon-folder:before {
    content: "\e929";
}

.icon-holiday:before {
    content: "\e92a";
}

.icon-house:before {
    content: "\e92b";
}

.icon-officer:before {
    content: "\e92d";
}

.icon-check-circle:before {
    content: "\e925";
}

.icon-arrow-dropdown:before {
    content: "\e924";
}

.icon-eye-close:before {
    content: "\e923";
}

.icon-close:before {
    content: "\e91e";
}

.icon-hamberger:before {
    content: "\e91d";
}

.icon-twitter:before {
    content: "\e90a";
}

.icon-youtube:before {
    content: "\e90c";
}

a {
    outline: 0 none;
    cursor: pointer;
    text-decoration: none;
}

a:link {
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    zoom: 1;
    font-size: inherit;
    font-weight: inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    display: block;
}

input,
select {
    vertical-align: middle;
    overflow: hidden;
}

textarea {
    overflow: auto;
    resize: none;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
    margin: 3px 3px 0 0;
}

input[type="text"] {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: auto;
    overflow: visible;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
    font-size: 0px;
}

.clearfix {
    display: block;
    clear: both;
}

:focus {
    outline: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Prompt", "Sarabun", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    opacity: 0;
    color: #222222;
    background: #fff;
}

body.openNav,
body.openLightbox {
    overflow: hidden;
}

.wrapper-modal-text.processing {
    pointer-events: none;
}

input,
button {
    font-family: "Prompt", "Sarabun", sans-serif;
}

a {
    color: #333;
}

input[data-vld="otp"] {
    transition: none;
}

.title-h1 {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    margin-bottom: 30px;
}

.title-h1 .hhicon {
    font-size: 13px;
    line-height: 13px;
    margin-right: 13px;
    transform: rotate(90deg);
    display: inline-block;
    color: #999;
    position: relative;
    top: -3px;
}

.title-h1 .lb-icon {
    display: inline-block;
    vertical-align: text-top;
}

.hide-ghost {
    font-size: 0;
    height: 0;
    color: transparent;
    display: none;
}

.img-rps {
    max-width: 100%;
    height: auto;
}

.page-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#box-ck {
    padding: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(48, 55, 59, 0.95);
    width: 100%;
    bottom: -100%;
    visibility: visible;
    z-index: 1001;
    position: fixed;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    font-size: 15px;
    line-height: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#box-ck .txt_ck {
    max-width: 802px;
    -webkit-box-shadow: border-box;
    box-shadow: border-box;
    color: rgba(255, 255, 255, 0.8);
}

#box-ck .txt_ck a {
    color: #ffffff;
}

#box-ck .ck-btn {
    font-size: 18px;
    line-height: 50px;
    min-width: 250px;
    background: #1c96eb;
    transition: all 0.25s ease;
    color: #fff;
    border-radius: 25px;
}

#box-ck .ck-btn:hover {
    background: #266cbf;
}

.btn.btn-blue {
    background-color: #1c96eb;
}

.btn.btn-blue:not(.disabled):hover {
    background-color: #266cbf;
}

.btn.btn-gray {
    background-color: #7f7f7f;
}

.btn.btn-gray:not(.disabled):hover {
    background-color: #4c4c4c;
}

.sty-btn {
    max-width: 195px;
    height: 50px;
    color: #fff;
    border-radius: 28px;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    transition: background-color 0.25s ease;
}

.sty-btn.disabled {
    opacity: 0.5;
    cursor: default;
}

.sty-btn.btn-blue {
    background-color: #1c96eb;
}

.sty-btn.btn-blue:not(.disabled):hover {
    background-color: #266cbf;
}

.sty-btn.btn-gray {
    background-color: #7f7f7f;
}

.sty-btn.btn-gray:not(.disabled):hover {
    background-color: #4c4c4c;
}

.sty-btn.btn-red {
    background-color: #e24258;
}

.sty-btn.btn-red:not(.disabled):hover {
    background-color: #b72527;
}

.sty-btn .ic-inp {
    font-size: 20px;
    margin-right: 10px;
}

.full-detail-wyswyg p {
    margin: 0;
}

.full-detail-wyswyg ul {
    padding-left: 40px;
    margin: 20px 0;
    list-style: inherit;
}

.full-detail-wyswyg ol {
    padding-left: 40px;
}

.full-detail-wyswyg img {
    max-width: 100%;
    height: auto;
}

.loading {
    position: relative;
    color: transparent;
    cursor: default;
    pointer-events: none;
    background-image: url("images/loading/loading-w.svg");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center center;
    font-size: 0 !important;
    width: 100%;
    transition: none !important;
}

.loading * {
    visibility: hidden;
}

.loading::before,
.loading::after {
    visibility: hidden;
}

.loading-page {
    position: relative;
    color: transparent;
    cursor: default;
    pointer-events: none;
    background-image: url("images/loading/loading-w.svg");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center center;
    font-size: 0 !important;
    width: 100%;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-mask: url(images/loading/loading-w.svg) no-repeat 50% 50%;
    mask: url(images/loading/loading-w.svg) no-repeat 50% 50%;
    background-color: #000 !important;
}

.loading-page * {
    visibility: hidden;
}

.loading-page::before,
.loading-page::after {
    visibility: hidden;
}

.loading-fullpage {
    position: relative;
    color: transparent;
    cursor: default;
    pointer-events: none;
    background-image: url("images/loading/loading-w.svg");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center center;
    font-size: 0 !important;
    width: 100%;
    max-height: calc(100vh - 100px);
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-mask: url(images/loading/loading-w.svg) no-repeat 50% 50%;
    mask: url(images/loading/loading-w.svg) no-repeat 50% 50%;
    background-color: #c8e7ff !important;
}

.loading-fullpage * {
    visibility: hidden;
}

.loading-fullpage::before,
.loading-fullpage::after {
    visibility: hidden;
}

.loading-black {
    position: relative;
    color: transparent;
    cursor: default;
    pointer-events: none;
    background-image: url("images/loading/loading.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    font-size: 0 !important;
    width: 100%;
    transition: none !important;
}

.loading-black * {
    visibility: hidden;
}

.loading-black::before,
.loading-black::after {
    visibility: hidden;
}

i.icon-close {
    display: inline-block;
}

.logo-box {
    display: inline-flex;
    align-items: center;
}

.logo-box .logo {
    margin-left: 22px;
}

.logo-box .logo:first-child {
    margin-left: 0;
}

@media (max-width: 960px) {
    .hidden-md {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    #box-ck {
        padding: 20px 20px 15px 20px;
    }

    #box-ck .btn_ck {
        margin-top: 15px;
        text-align: center;
    }

    #box-ck .ck-btn {
        min-width: revert;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .visible-xs {
        display: none !important;
    }

    #main {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #box-ck .w-ck {
        max-width: 1280px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #box-ck .txt_ck {
        width: calc(100% - 325px);
        padding-right: 10px;
    }

    #box-ck .btn_ck {
        width: 325px;
        text-align: right;
    }
}

.is-inlblock {
    display: inline-block;
}

.is-block {
    display: block;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

@media (min-width: calc(@screen-md + 1px)) {
    .visible-md {
        display: none !important;
    }
}

@media (min-width: 561px) {
    .visible-sm {
        display: none !important;
    }
}

@media (max-width: 560px) {
    .hidden-sm {
        display: none !important;
    }
}

.animate {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.animate.delay0 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.animate.delay1 {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.animate.delay2 {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.animate.delay5 {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.animate.delay10 {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.animate.delay15 {
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

.animate.delay20 {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}

.animate.top {
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    -webkit-transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
    -ms-transition-property: opacity, transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 0.8s, 0.8s;
    -moz-transition-duration: 0.8s, 0.8s;
    -ms-transition-duration: 0.8s, 0.8s;
    -o-transition-duration: 0.8s, 0.8s;
    transition-duration: 0.8s, 0.8s;
    -webkit-transition-timing-function: ease, ease;
    -moz-transition-timing-function: ease, ease;
    -ms-transition-timing-function: ease, ease;
    -o-transition-timing-function: ease, ease;
    transition-timing-function: ease, ease;
}

.animate.play {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -khtml-opacity: 1 !important;
    -moz-opacity: 1 !important;
}

.stop-animate {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -khtml-opacity: 1 !important;
    -moz-opacity: 1 !important;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.animate.play.top {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#content {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}